/.idea
/.settings
/bower
/dist
/logs
/node
/node_modules
/yaio-app-e2e/bower
/yaio-app-e2e/node
/yaio-app-e2e/node_modules
/yaio-app-webapp/bower
/yaio-app-webapp/node
/yaio-app-webapp/node_modules
/devtools/plantuml-dependency.log
/resources/docs/classes
/src/main/generated-resources
/yaio-app-webapp/src/main/generated-resources
/storage
/tmp
/*/target
/var/hsqldb/yaio.lck
/var/hsqldb/yaio.log
/var/hsqldb/yaio.properties
/yaio-app-webapp/vendors/html
/yaio-app-webapp/vendors/js
/yaio-app-webapp/vendors/css
/vendors/js
/vendors/css
/log.roo
/dependency-reduced-pom.xml
*/dependency-reduced-pom.xml
/.project
/.classpath
*.iml