          <!-- 
          *************************
          *    Main-Menu
          ************************* 
          -->
        <ul class="commands command-info">
           <li class="command" data-tooltip='tooltip.command.OpenFrontpage' lang="tech">
              <a href="#/" class="button" translate="common.command.OpenFrontpage">Startseite</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenSearchView' lang="tech">
              <a href="#/search/" class="button" translate="common.command.OpenSearchView">Open Searchview</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenHelp' lang="tech">
              <a href="" ng-click="yaioUtils.showHelpSite('/exports/documentation/SysHelp1')" target="help" class="button command_help" translate="common.command.OpenHelp">Hilfe</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenInfo' lang="tech">
              <a href="" ng-click="yaioUtils.showHelpSite('/exports/documentation/SysInfo1')" target="help" class="button" translate="common.command.OpenInfo">Hilfe</a></li>
           <li class="command" data-tooltip='tooltip.command.Print' lang="tech">
              <a onclick="window.print(); return true;" class="button" translate="common.command.Print">Print</a>
              <input type="checkbox" onclick="yaioAppBase.get('YaioLayoutService').togglePrintLayout()" checked id="checkboxPrintAll"> All</li>
           <li class="command" data-tooltip='tooltip.command.Logout' lang="tech" id="logout">
              <a href="/logout" class="button" translate="common.command.Logout">Logout</a></li>
        </ul>
