<update-meta name="title" content="YAIO - D'Artagnan - Source"></update-meta>
<update-meta name="description" content="YAIO - D'Artagnan - Source"></update-meta>

<div class='box box-portdesc add2toc-h1 box-portdesc-explorer' toclabel='Explorer' id='box_explorer'>
    <div class='boxline boxline-ue2 h2-portdesc h2-portdesc-explorer' id='ue_explorer'>
      <div id="containerMasterUe">YAIO - D'Artagnan - Source</div>
      <div id="containerCurrentSource" ng-include="yaioUtils.getConfig().resBaseUrl + 'js/sourceselector/current-source-main.html'"></div>
      <div id="containerInfoCommands">
          <div ng-include="yaioUtils.getConfig().resBaseUrl + 'js/sourceselector/menu-main.html'"></div>
      </div>
    </div>

    <div class='togglecontainer togglecontainer-exporer' id='details_explorer'>
    </div>
</div>

<div id="sourceselector-content-left">

  <div class='box box-portdesc add2toc-h1 box-portdesc-sourceselector' toclabel='Datasource' id='box_sourceselector'>
      <div class='boxline boxline-ue2 h2-portdesc h2-portdesc-sourceselector' id='ue_sourceselector' translate="sourceselector.ue">Datasource</div>
      <div class='togglecontainer togglecontainer-sourceselector' id='details_sourceselector'>
        <span translate="sourceselector.desc"></span><br>
        <ul class="datasourcelist" ng-repeat="key in yaioUtils.getConfig().datasources">
           <li class="datasource" ng-class="{datasourceactive: yaioUtils.getService(key).config.name === yaioUtils.getService('YaioNodeData').config.name}">
                <div class="dsname"><a ng-click="switchDataSource(key);" class="button">{{yaioUtils.getService(key).config.name}}</a></div>
                <div class="dsdesc">{{yaioUtils.getService(key).config.desc}}</div></li>
        </ul>
      </div>
  </div>
  
</div>

<script type="text/javascript">
    // activate elements after 1 second
    setTimeout(function() { 
        // activate speech recognition
        yaioAppBase.get('YaioLayout').addSpeechRecognitionToElements();
        yaioAppBase.get('YaioLayout').addDatePickerToElements();

        // add resize event
        $( window ).resize(function() {
            yaioAppBase.get('YaioLayout').setupAppSize();
        });    

    }, 1000);
    
    // add TOC after 3 second
    setTimeout(function() { 
        // add TOC
        yaioAppBase.get('YaioLayout').setupAppSize();
    }, 3000);
    

</script>
