    <!-- 
    *****************************
    *****************************
    * Current Data
    *****************************
    *****************************
     -->
          <table id="masterTable">
              <!-- define columngroups -->
              <colgroup>
              <col class="container_field fieldtype_name field_name"></col>
              <col class="block_nodedata"></col>
              <col class="block_nodegantt"></col>
              <col class="container_field fieldtype_actions"></col>
              </colgroup>
              <thead ng-include="yaioUtils.getConfig().resBaseUrl + 'js/explorer/explorer-table-head.html'"></thead>
              <tbody>
                <tr id="masterTr" data-value="{{node.sysUID}}">
                  <td><div class="entry node-state-{{node.state}}"><b><span translate="{{node.state}}">{{node.state}}</span> - {{node.name}}</b></div></td>
                  <td />
                  <td />
                  <td class="container_field fieldtype_actions" >
                    <div class='fieldtype_sysToggler'>
                        <a ng-click="yaioUtils.toggleSysContainerForNode(node);"
                           ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('showsysdata', node.sysUID, true)"
                           id='toggler_sys_{{node.sysUID }}' class='' 
                           data-tooltip='tooltip.command.ToggleSys' lang='tech'></a>
                     </div>
                     <a ng-click="yaioUtils.openNodeEditorForNode(node, 'edit');"
                        ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('edit', node.sysUID, true)"
                        id='cmdEdit{{node.sysUID}}' class='yaio-icon-edit'
                        lang='tech' data-tooltip='tooltip.command.NodeEdit'></a>
                     <a ng-click="yaioUtils.openNodeEditorForNode(node, 'create');"
                        ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('create', node.sysUID, true)"
                        id='cmdCreate{{ node.sysUID }}' class='yaio-icon-create'
                        lang='tech' data-tooltip='tooltip.command.NodeCreateChild'></a>
                     <a ng-click="yaioUtils.openNodeEditorForNode(node, 'createsymlink');"
                        ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('createsymlink', node.sysUID, true)"
                        id='cmdCreateSymLink{{ node.sysUID }}' class='yaio-icon-createsymlink'
                        lang='tech' data-tooltip='tooltip.command.NodeCreateSymLink'></a>
                     <a onclick="javascript: yaioAppBase.get('YaioExplorerAction').yaioRemoveNodeById('{{node.sysUID}}'); return false;"
                        ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('delete', node.sysUID, true)"
                        id='cmdRemove{{node.sysUID}}' class='yaio-icon-remove'
                        lang='tech' data-tooltip='tooltip.command.NodeDelete'></a>
                  </td>
                </tr>
              </tbody>
          </table>
