          <!-- 
          *************************
              Commands
          ************************* 
          -->
          <ul class="commands nodecommands">
             <li class="command" data-tooltip='tooltip.command.OpenLevel' lang="tech">
                <a href="" ng-click="openSubNodes()" class="button command_switchlevel" translate="common.command.OpenTreeLevel">&Ouml;ffne bis Level</a>
                <input type="range" min="0" max="10" value="" id="treeOpenLevel" ng-model="config.treeOpenLevel" ng-change="openSubNodes()" class="command_switchlevel_input"> </li>
             <li class="command" data-tooltip='tooltip.command.ExportAsOverview' lang="tech">
                <a href="" ng-click="exportAsOverview()" class="button command_exportasoverview" translate="common.command.ExportAsOverview">Export Übersicht</a></li>
             <li class="command" data-tooltip='tooltip.command.Snapshot' lang="tech"
                 ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('createsymlink', node.sysUID, true)">
                <a href="" ng-click="snapshot()" class="button command_snapshot" translate="common.command.Snapshot">Snapshot</a></li>
             <li class="command" data-tooltip='tooltip.command.NodeFilter' lang="tech">
                <span lang='tech' translate="editor.common.label.state">Status</span>
                <select name="strWorkflowStateFilter" ng-change="changeExplorerFilter()" class="inputtype_select" id="inputFilterOptionsStrWorkflowStateFilter" ng-model="filterOptions.strWorkflowStateFilter">
                    <option value="" translate="common.select.all">Alle
                    <option value="OPEN,RUNNING" translate="common.select.NodeFilter.WorkflowState.OPEN_RUNNING">Todo planned
                    <option value="LATE,WARNING" translate="common.select.NodeFilter.WorkflowState.LATE_WARNING">Todo warning
                    <option value="OPEN,RUNNING,LATE,WARNING" translate="common.select.NodeFilter.WorkflowState.ALL_TODOS">all Todos
               </select>
                <span lang='tech' translate="editor.common.label.type">Type</span>
                <select name="strStatCountFilter" ng-change="changeExplorerFilter()" class="inputtype_select" id="inputFilterOptionsStrStatCountFilter" ng-model="filterOptions.strStatCountFilter">
                    <option value="" translate="common.select.all">Alle
                    <option value="statWorkflowCount" translate="common.select.NodeFilter.StatCount.statWorkflowCount">Tasks/Events
                    <option value="statWorkflowTodoCount" translate="common.select.NodeFilter.StatCount.statWorkflowTodoCount">Tasks/Events Offen
                    <option value="statUrlResCount" translate="common.select.NodeFilter.StatCount.statUrlResCount">UrlRes
                    <option value="statInfoCount" translate="common.select.NodeFilter.StatCount.statInfoCount">Infos
               </select>
               </li>
          </ul>
