          <!-- 
          *************************
              Commands
          ************************* 
          -->
          <ul class="commands nodecommands">
             <li class="command" data-tooltip='tooltip.command.OpenLevel' lang="tech">
                <a href="" ng-click="openSubNodes()" class="button command_switchlevel" translate="common.command.OpenTreeLevel">&Ouml;ffne bis Level</a>
                <input type="range" min="0" max="10" value="" id="treeOpenLevel" ng-model="config.treeOpenLevel" ng-change="openSubNodes()" class="command_switchlevel_input"> </li>
             <li class="command" data-tooltip='tooltip.command.ExportAsOverview' lang="tech">
                <a href="" ng-click="exportAsOverview()" class="button command_exportasoverview" translate="common.command.ExportAsOverview">Export Übersicht</a></li>
             <li class="command" data-tooltip='tooltip.command.Snapshot' lang="tech"
                 ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('createsymlink', node.sysUID, true)">
                <a href="" ng-click="snapshot()" class="button command_snapshot" translate="common.command.Snapshot">Snapshot</a></li>
          </ul>
