          <!-- 
          *************************
          *    Main-Menu
          ************************* 
          -->
        <ul class="commands command-info">
           <li class="command" data-tooltip='tooltip.command.OpenFrontpage' lang="tech">
              <a href="#/frontpage" class="button" translate="common.command.OpenFrontpage">Startseite</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenDashboard' lang="tech"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('search', null, false)">
              <a href="#/dashboard" class="button" translate="common.command.OpenDashboard">Dashboard</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenSearchView' lang="tech"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('search', null, false)">
              <a href="#/search/" class="button" translate="common.command.OpenSearchView">Open Searchview</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenHelp' lang="tech"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('syshelp', null, false)">
              <a href="" ng-click="yaioUtils.showHelpSite(yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('syshelp', null, false))"
                 target="help" class="button command_help" translate="common.command.OpenHelp">Hilfe</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenInfo' lang="tech"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('syshelp', null, false)">
              <a href="" ng-click="yaioUtils.showHelpSite(yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('sysinfo', null, false))"
                 target="help" class="button command_info" translate="common.command.OpenInfo">Info</a></li>
           <li class="command" data-tooltip='tooltip.command.Print' lang="tech"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('print', null, false)">
              <a onclick="window.print(); return true;" class="button" translate="common.command.Print">Print</a>
              <input type="checkbox" onclick="yaioAppBase.get('YaioLayout').togglePrintLayout()" checked id="checkboxPrintAll"> All</li>
           <li class="command" data-tooltip='tooltip.command.OpenSourceSelect' lang="tech">
              <a href="#/sourceselect" class="button" translate="common.command.OpenSourceSelect">Datenquelle</a></li>
           <li class="command" data-tooltip='tooltip.command.Logout' lang="tech" id="logout"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('logout', null, false)">
              <a href="{{yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('logout', null, false)}}" class="button" translate="common.command.Logout">Logout</a></li>
        </ul>
