        <!-- 
        *************************
            Form: edit/create InfoNode
        ************************* 
        -->
        <div class="hidden container-yaio-editor-infonode" id="containerFormYaioEditorInfoNode">
          <h4 translate="editor.formInfoNode.ue">Info bearbeiten:</h4>
          <p translate="editor.formInfoNode.intro" class="msg-form-intro" id="nodeFormInfoNodeIntro"></p>

          <form with-errors class="hidden" id="nodeFormInfoNode" name="nodeFormInfoNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDInfoNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameInfoNode" required ng-change="">
            <input class="hidden" type="text" name="mode" ng-model="nodeForEdit.mode" id="inputModeInfoNode" required ng-change="">

            <fieldset>
              <legend translate="editor.common.legend.Stammdaten">Stammdaten</legend>
              
              <!-- show select -->
              <label for="type" translate="editor.common.label.type">Typ</label> 
              <select type="text" name="type" class="inputtype_type" ng-model="nodeForEdit.type" id="inputTypeInfoNode" required ng-change="">
                  <option value="" translate="common.select.pleaseselect">Bitte wählen
                  <option value="INFO" translate="common.select.InfoType.INFO">Information
                  <option value="DOKU" translate="common.select.InfoType.DOKU">Dokumentation
                  <option value="IDEE" translate="common.select.InfoType.IDEE">Idee
                  <option value="HOWTO" translate="common.select.InfoType.HOWTO">Howto
              </select> 

              <!-- show textfield -->
              <label for="name" translate="editor.common.label.name">Titel</label> 
              <textarea name="name" class="textareatype_name" ng-model="nodeForEdit.name" id="inputNameInfoNode" required ng-change=""></textarea> 

              <fielderrors for="type"></fielderrors>
              <fielderrors for="name"></fielderrors>
            </fieldset>
      
            <fieldset>
              <legend id="legendLayoutInfoForm"><span translate="editor.common.legend.Layout">Layout</span></legend>
              <div class="formrow filter_LayoutInfoNode flg-hide-if-inputvalue-empty" id="formrow_inputLayoutInfoNode" inputids="inputDocLayoutTagCommandInfoNode,inputDocLayoutAddStyleClassInfoNode,inputDocLayoutShortNameInfoNode,inputDocLayoutFlgCloseDivInfoNode">
              
                <!-- show select -->
                <label for="docLayoutTagCommand" translate="editor.common.label.docLayoutTagCommand">Befehl</label> 
                <select name="docLayoutTagCommand" class="inputtype_docLayoutTagCommand" ng-model="nodeForEdit.docLayoutTagCommand" id="inputDocLayoutTagCommandInfoNode" ng-change="" ng-pattern="">
                    <option value="" translate="common.select.pleaseselect">Bitte wählen
                    <option value="DIV" translate="common.select.docLayoutTagCommand.DIV">Block starten
                    <option value="UE" translate="common.select.docLayoutTagCommand.UE">Überschrift
                    <option value="P" translate="common.select.docLayoutTagCommand.P">Textzeile
                    <option value="LI" translate="common.select.docLayoutTagCommand.LI">Aufzähungszeile
                    <option value="TR" translate="common.select.docLayoutTagCommand.TR">Tabellenzeile
                    <option value="DIRECT" translate="common.select.docLayoutTagCommand.DIRECT">Direkte Ausgabe
                    <option value="ENDDIV" translate="common.select.docLayoutTagCommand.ENDDIV">Block beenden
                </select> 
  
                <label for="docLayoutAddStyleClass" translate="editor.common.label.docLayoutAddStyleClass">CSS-Klasse</label> 
                <input type="text" name="docLayoutAddStyleClass" class="inputtype_docLayoutAddStyleClass" ng-model="nodeForEdit.docLayoutAddStyleClass" id="inputDocLayoutAddStyleClassInfoNode" ng-change="">
  
                <label for="docLayoutShortName" translate="editor.common.label.docLayoutShortName">Kurzname</label> 
                <input type="text" name="docLayoutShortName" class="inputtype_docLayoutShortName" ng-model="nodeForEdit.docLayoutShortName" id="inputDocLayoutShortNameInfoNode" ng-change=""> 
  
                <label for="docLayoutFlgCloseDiv" translate="editor.common.label.docLayoutFlgCloseDiv">Block schließen?</label> 
                <input type="checkbox" name="docLayoutFlgCloseDiv" class="inputtype_docLayoutFlgCloseDiv" ng-model="nodeForEdit.docLayoutFlgCloseDiv" id="inputDocLayoutFlgCloseDivInfoNode" ng-change=""> 
  
                <fielderrors for="docLayoutTagCommand"></fielderrors>
                <fielderrors for="docLayoutAddStyleClass"></fielderrors>
                <fielderrors for="docLayoutShortName"></fielderrors>
                <fielderrors for="docLayoutFlgCloseDiv"></fielderrors>
              </div>
            </fieldset>
            <script type="text/javascript">
            // toggler for optional, empty elements
             jMATService.getPageLayoutService().appendFormrowToggler("legendLayoutInfoForm", "filterLayoutInfoForm", "filter_LayoutInfoNode", "&nbsp;");
            </script>

            <fieldset>
              <button ng-click="save('nodeFormInfoNode')" ng-disabled="nodeFormInfoNode.$invalid" class="btn btn-primary"translate="common.buttonSave">Save</button>
              <button ng-click="discard()" class="btn btn-primary" translate="common.buttonDiscard">Discard</button>
            </fieldset>

            <fieldset>
              <legend id="legendDescInfoForm"><span translate="editor.common.legend.Details">Details</span></legend>
              <div class="formrow filter_DescInfoNode flg-hide-if-inputvalue-empty" id="formrow_inputDescInfoNode" inputids="inputNodeDescInfoNode">
              
                <!-- show textfield -->
                <label for="nodeDesc" translate="editor.common.label.nodeDesc">Details</label> 
                <textarea name="nodeDesc" class="textareatype_nodeDesc" ng-model="nodeForEdit.nodeDesc" id="inputNodeDescInfoNode" ng-change=""></textarea> 
                <fielderrors for="nodeDesc"></fielderrors>
                <pre id="editorInputNodeDescInfoNode" class="pre_nodeDesc_editor"></pre> 
              </div>
            </fieldset>
            <script type="text/javascript">
            // toggler for optional, empty elements
             jMATService.getPageLayoutService().appendFormrowToggler("legendDescInfoForm", "filterDescInfoForm", "filter_DescInfoNode", "&nbsp;");
            </script>

          </form>
        </div>
