        <!-- 
        *************************
            Form: Create new Node
        ************************* 
        -->
        <div class="hidden container-yaio-editor-create" id="containerFormYaioEditorCreate">
          <h4 translate="editor.formCreate.ue">Nodetyp auswählen:</h4>
          <p translate="editor.formCreate.intro" class="msg-form-intro" id="nodeFormCreateIntro"></p>

          <form with-errors class="hidden" id="nodeFormCreate" name="nodeFormCreate">

            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDCreate" required ng-change="">
            <fieldset>
              <legend translate="editor.common.legend.Stammdaten">Stammdaten</legend>
              
              <!-- show textfield -->
              <label for="state" translate="editor.formCreate.label.type">Typ</label> 
              <select type="text" name="className" ng-model="nodeForEdit.className" class="inputtype_type" id="inputCreateNodeType" required ng-change="selectNewNodeType('nodeFormCreate')"> 
                  <option value="" translate="common.select.pleaseselect">Bitte wählen
                  <option translate="common.select.className.TaskNode" value="TaskNode">Task
                  <option translate="common.select.className.EventNode" value="EventNode">Event
                  <option translate="common.select.className.InfoNode" value="InfoNode">Info
                  <option translate="common.select.className.UrlResNode" value="UrlResNode">UrlRes
                  <option translate="common.select.className.SymLinkNode" value="SymLinkNode">Symlink
              </select>
              
              <button ng-click="selectNewNodeType('nodeFormCreate')" ng-disabled="nodeFormCreate.$invalid" class="btn btn-primary" translate="editor.formCreate.buttonSelect">Select</button>
              <button ng-click="discard()" class="btn btn-primary" translate="common.buttonDiscard">Discard</button>
            </fieldset>
          </form> 

          <!-- show only if copy allowed and templates available -->
          <form with-errors id="nodeFormCreateFromTemplate" name="nodeFormCreateFromTemplate">
            <fieldset ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('copy', node.sysUID, false) && (availiableSystemTemplates.length > 0 || availiableOwnTemplates.length > 0)">
              <legend translate="editor.common.legend.template">Template benutzen</legend>
              
              <!-- show textfield -->
              <label for="state" translate="editor.formCreate.label.template">Template</label> 
              <select type="text" name="createFromTemplate" class="inputtype_type" id="inputCreateFromTemplate" required ng-model="nodeForEdit.createFromTemplate"> 
                  <option value="" translate="common.select.pleaseselect">Bitte wählen
                  <option ng-repeat="node in availiableSystemTemplates" value="{{node.sysUID}}">System: {{node.name}}
                  <option ng-repeat="node in availiableOwnTemplates" value="{{node.sysUID}}">Own: {{node.name}}
              </select>
              
              <button ng-click="selectCreateFromTemplate('nodeFormCreateFromTemplate')" class="btn btn-primary" translate="editor.formCreate.buttonCreateFromTemplate">Create</button>
            </fieldset>
          </form> 
        </div>
