        <!-- 
        *************************
            Form: edit/create EventNode
        ************************* 
        -->
        <div class="hidden container-yaio-editor-eventnode" id="containerFormYaioEditorEventNode">
          <h4 translate="editor.formEventNode.ue">Event bearbeiten:</h4>
          <p translate="editor.formEventNode.intro" class="msg-form-intro" id="nodeFormEventNodeIntro"></p>

          <form with-errors class="hidden" id="nodeFormEventNode" name="nodeFormEventNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDEventNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameEventNode" required ng-change="">
            <input class="hidden" type="text" name="mode" ng-model="nodeForEdit.mode" id="inputModeEventNode" required ng-change="">

            <fieldset>
              <legend translate="editor.common.legend.Stammdaten">Stammdaten</legend>
              
              <!-- show textfield -->
              <label for="name" translate="editor.common.label.name">Titel</label> 
              <input type="text" name="name" class="inputtype_name" ng-model="nodeForEdit.name" id="inputNameEventNode" required ng-change=""> 

              <!-- show select -->
              <label for="type" translate="editor.formEventNode.label.type">Status</label> 
              <select type="text" name="type" class="inputtype_type" ng-model="nodeForEdit.type" id="inputTypeEventNode" required ng-change="doTypeChanged()"> 
                  <option value="" translate="common.select.pleaseselect">Bitte wählen
                  <option value="EVENT_NOTPLANED" translate="common.select.EventNodeType.EVENT_NOTPLANED">ungeplant
                  <option value="EVENT_PLANED" translate="common.select.EventNodeType.EVENT_PLANED">Termin geplant
                  <option value="EVENT_CONFIRMED" translate="common.select.EventNodeType.EVENT_CONFIRMED">Termin bestätigt
                  <option value="EVENT_LATE" translate="common.select.EventNodeType.EVENT_LATE">geplanter Starttermin überschritten
                  <option value="EVENT_RUNNING" translate="common.select.EventNodeType.EVENT_RUNNING">Termin läuft
                  <option value="EVENT_SHORT" translate="common.select.EventNodeType.EVENT_SHORT">geplanter Endetermin überschritten
                  <option value="EVENT_ERLEDIGT" translate="common.select.EventNodeType.EVENT_ERLEDIGT">Erledigt
                  <option value="EVENT_VERWORFEN" translate="common.select.EventNodeType.EVENT_VERWORFEN">Verworfen
              </select> 

              <fielderrors for="name"></fielderrors>
              <fielderrors for="type"></fielderrors>
            </fieldset>

            <fieldset>
              <legend translate="editor.common.legend.Plan">Plan</legend>
              
              <!-- show textfield -->
              <label for="planAufwand" translate="editor.common.label.planAufwand">Aufwand</label> 
              <input type="text" name="planAufwand" placeholder="x.x"  class="inputtype_aufwand" ng-model="nodeForEdit.planAufwand" id="inputPlanAufwandEventNode" ng-change=""> 

              <!-- show textfield -->
              <label for="planStart" translate="editor.common.label.planStart">Start</label> 
              <input type="text" name="planStart" placeholder="dd.mm.jjjj hh:mm" pattern="\d{2}\.\d{2}\.\d{4} \d{2}\:\d{2}" maxsize="16" class="inputtype_datetime" ng-model="nodeForEdit.planStart" id="inputPlanStartEventNode" required ng-change=""> 

              <!-- show textfield -->
              <label for="planEnde" translate="editor.common.label.planEnde">Ende</label> 
              <input type="text" name="planEnde" placeholder="dd.mm.jjjj hh:mm" pattern="\d{2}\.\d{2}\.\d{4} \d{2}\:\d{2}" maxsize="16" class="inputtype_datetime" ng-model="nodeForEdit.planEnde" id="inputPlanEndeEventNode" ng-change=""> 

              <fielderrors for="planAufwand"></fielderrors>
              <fielderrors for="planStart"></fielderrors>
              <fielderrors for="planEnde"></fielderrors>
            </fieldset>

            <fieldset>
              <legend id="legendIstEventForm"><span translate="editor.common.legend.Ist">Ist</span></legend>
              <div class="formrow filter_IstEventNode flg-hide-if-inputvalue-empty" id="formrow_inputIstEventNode" inputids="inputIstAufwandEventNode,inputIstStartEventNode,inputIstEndeEventNode,inputIstStandEventNode">
              
                <!-- show textfield -->
                <label for="istAufwand" translate="editor.common.label.istAufwand">Aufwand</label> 
                <input type="text" name="istAufwand" placeholder="x.x" class="inputtype_aufwand" ng-model="nodeForEdit.istAufwand" id="inputIstAufwandEventNode" ng-change=""> 
  
                <!-- show textfield -->
                <label for="istStart" translate="editor.common.label.istStart">Start</label> 
                <input type="text" name="istStart" placeholder="dd.mm.jjjj hh:mm" pattern="\d{2}\.\d{2}\.\d{4} \d{2}\:\d{2}" maxsize="16" class="inputtype_datetime" ng-model="nodeForEdit.istStart" id="inputIstStartEventNode" ng-change=""> 
  
                <!-- show textfield -->
                <label for="istEnde" translate="editor.common.label.istEnde">Ende</label> 
                <input type="text" name="istEnde" placeholder="dd.mm.jjjj hh:mm" pattern="\d{2}\.\d{2}\.\d{4} \d{2}\:\d{2}" maxsize="16" class="inputtype_datetime" ng-model="nodeForEdit.istEnde" id="inputIstEndeEventNode" ng-change=""> 
  
                <!-- show textfield -->
                <label for="istStand" translate="editor.common.label.istStand">Stand</label> 
                <input type="number" min="0" max="100" placeholder="x.x"  name="istStand" class="inputtype_stand" ng-model="nodeForEdit.istStand" id="inputIstStandEventNode" ng-change="doIstStandChanged()"> 
  
                <fielderrors for="istAufwand"></fielderrors>
                <fielderrors for="istStart"></fielderrors>
                <fielderrors for="istEnde"></fielderrors>
                <fielderrors for="istStand"></fielderrors>
              </div>
            </fieldset>
            <script type="text/javascript">
            // toggler for optional, empty elements
             jMATService.getPageLayoutService().appendFormrowToggler("legendIstEventForm", "filterIstEventForm", "filter_IstEventNode", "&nbsp;");
            </script>

            <fieldset>
              <button ng-click="save('nodeFormEventNode')" ng-disabled="nodeFormEventNode.$invalid" class="btn btn-primary"translate="common.buttonSave">Save</button>
              <button ng-click="discard()" class="btn btn-primary" translate="common.buttonDiscard">Discard</button>
            </fieldset>

            <fieldset>
              <legend id="legendDescEventForm"><span translate="editor.common.legend.Details">Details</span></legend>
              <div class="formrow filter_DescEventNode flg-hide-if-inputvalue-empty" id="formrow_inputDescEventNode" inputids="inputNodeDescEventNode">
              
                <!-- show textfield -->
                <label for="nodeDesc" translate="editor.common.label.nodeDesc">Details</label> 
                <textarea name="nodeDesc" class="textareatype_nodeDesc" ng-model="nodeForEdit.nodeDesc" id="inputNodeDescEventNode" ng-change=""></textarea> 
                <fielderrors for="nodeDesc"></fielderrors>
                <pre id="editorInputNodeDescEventNode" class="pre_nodeDesc_editor"></pre> 
              </div>
            </fieldset>
            <script type="text/javascript">
            // toggler for optional, empty elements
             jMATService.getPageLayoutService().appendFormrowToggler("legendDescEventForm", "filterDescEventForm", "filter_DescEventNode", "&nbsp;");
            </script>
          </form>
        </div>
