<div class='box box-portdesc add2toc-h1 box-portdesc-explorer' toclabel='Explorer' id='box_explorer'>
    <div class='boxline boxline-ue2 h2-portdesc h2-portdesc-explorer' id='ue_explorer'>YAIO - D'Artagnan - Explorer
      <div id="containerInfoCommands">
        <ul class="commands command-info">
           <li class="command" data-tooltip='tooltip.command.OpenTreeView' lang="tech">
              <a href="#/show/MasterplanMasternode1" class="button" translate="common.command.OpenTreeView">Open Treeview</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenSearchView' lang="tech">
              <a href="#/search/" class="button" translate="common.command.OpenSearchView">Open Searchview</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenHelp' lang="tech">
              <a href="" ng-click="showHelpSite('/exports/documentation/SysHelp1')" target="help" class="button command_help" translate="common.command.OpenHelp">Hilfe</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenInfo' lang="tech">
              <a href="" ng-click="showHelpSite('/exports/documentation/SysInfo1')" target="help" class="button" translate="common.command.OpenInfo">Hilfe</a></li>
        </ul>
      </div>
    </div>

    <div class='togglecontainer togglecontainer-exporer' id='details_explorer'>
    </div>
</div>

<div id="front-content-left">
  <div ng-include="frontPageUrl"></div>
  
  <div class='box box-portdesc add2toc-h1 box-portdesc-todonext' toclabel='ToDoNext' id='box_todonext'>
      <div class='boxline boxline-ue2 h2-portdesc h2-portdesc-todonext' id='ue_todonext' translate="todonext.ue">ToDoNext</div>
  
      <div class='togglecontainer togglecontainer-todonext' id='details_todonext'>
          <ul>
             <li class="todonext" data-tooltip='tooltip.command.OpenTreeView' lang="tech">
                <a href="#/show/MasterplanMasternode1" class="" translate="todonext.command.OpenTreeView">Open Treeview</a></li>
             <li class="todonext" data-tooltip='tooltip.command.OpenHelp' lang="tech">
                <a href="" ng-click="showHelpSite('/exports/documentation/SysHelp1')" target="help" class="" translate="todonext.command.OpenHelp">Hilfe</a></li>
             <li class="todonext" data-tooltip='tooltip.command.OpenInfo' lang="tech">
                <a href="" ng-click="showHelpSite('/exports/documentation/SysInfo1')" target="help" class="" translate="todonext.command.OpenInfo">Infos</a></li>
          </ul>
      </div>
  </div>
</div>
<div id="front-content-right">
</div>

<script type="text/javascript">
    // activate elements after 1 second
    setTimeout(function() { 
        // activate speech recognition
        addSpeechRecognitionToElements();
        addDatePickerToElements();
        initLanguageSupport();

        //add resize event
        $( window ).resize(function() {
                setupAppSize();
        });    

    }, 1000);
    
</script>
