<div class='box box-portdesc add2toc-h1 box-portdesc-explorer' toclabel='Explorer' id='box_explorer'>
  <div class='boxline boxline-ue2 h2-portdesc h2-portdesc-explorer' id='ue_explorer'>YAIO - D'Artagnan - Explorer
      <div id="containerInfoCommands">
        <ul class="commands command-info">
           <li class="command" data-tooltip='tooltip.command.OpenFrontpage' lang="tech">
              <a href="#/" class="button" translate="common.command.OpenFrontpage">Startseite</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenTreeView' lang="tech">
              <a href="#/show/MasterplanMasternode1" class="button" translate="common.command.OpenTreeView">Open Treeview</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenHelp' lang="tech">
              <a href="" ng-click="showHelpSite('/exports/documentation/SysHelp1')" target="help" class="button command_help" translate="common.command.OpenHelp">Hilfe</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenInfo' lang="tech">
              <a href="" ng-click="showHelpSite('/exports/documentation/SysInfo1')" target="help" class="button" translate="common.command.OpenInfo">Hilfe</a></li>
           <li class="command" data-tooltip='tooltip.command.Print' lang="tech">
              <a onclick="window.print(); return true;" class="button" translate="common.command.Print">Print</a>
              <input type="checkbox" onclick="togglePrintLayout()" checked id="checkboxPrintAll"> All</li>
        </ul>
      </div>
  </div>
  <div class='togglecontainer togglecontainer-list' id='details_list'>
  </div>
</div>
                
<div class='container-yaio-current' toclabel='Daten' id='box_data'>
    <div id="containerYaioSearch" class="box container-yaio-search">
        <!-- 
        *****************************
        *****************************
        * Current SearchOptions
        *****************************
        *****************************
         -->
        <div id="searchcommand" class="container-searchcommands"><!--
       --><div class="fulltextline" data-tooltip='tooltip.command.DoSearch' lang="tech">
             <input type="text" ng-keyup="checkEnterFulltextSearch($event);" placeholder="Suchtext" name="fulltext" maxsize="40" class="inputtype_text" id="inputSearchOptionsFulltext" ng-model="searchOptions.fulltext">
             <select name="searchSort" class="inputtype_select" id="inputSearchOptionsSearchSortt" ng-model="searchOptions.searchSort">
                  <option value="default" translate="common.select.searchSort.default">default</option>
                  <option value="createdUp" translate="common.select.searchSort.createdUp">createdUp</option>
                  <option value="createdDown" translate="common.select.searchSort.createdDown">createdDown</option>
                  <option value="istEndeUp" translate="common.select.searchSort.istEndeUp">istEndeUp</option>
                  <option value="istEndeDown" translate="common.select.searchSort.istEndeDown">istEndeDown</option>
                  <option value="istStartUp" translate="common.select.searchSort.istStartUp">istStartUp</option>
                  <option value="istStartDown" translate="common.select.searchSort.istStartDown">istStartDown</option>
                  <option value="lastChangeUp" translate="common.select.searchSort.lastChangeUp">lastChangeUp</option>
                  <option value="lastChangeDown" translate="common.select.searchSort.lastChangeDown">lastChangeDown</option>
                  <option value="nameUp" translate="common.select.searchSort.nameUp">nameUp</option>
                  <option value="nameDown" translate="common.select.searchSort.nameDown">nameDown</option>
                  <option value="nodeNumberUp" translate="common.select.searchSort.nodeNumberUp">nodeNumberUp</option>
                  <option value="nodeNumberDown" translate="common.select.searchSort.nodeNumberDown">nodeNumberDown</option>
                  <option value="planEndeUp" translate="common.select.searchSort.planEndeUp">planEndeUp</option>
                  <option value="planEndeDown" translate="common.select.searchSort.planEndeDown">planEndeDown</option>
                  <option value="planStartUp" translate="common.select.searchSort.planStartUp">planStartUp</option>
                  <option value="planStartDown" translate="common.select.searchSort.planStartDown">planStartDown</option>
                  <option value="typeUp" translate="common.select.searchSort.typeUp">typeUp</option>
                  <option value="typeDown" translate="common.select.searchSort.typeDown">typeDown</option>
                  <option value="workflowStateUp" translate="common.select.searchSort.workflowStateUp">workflowStateUp</option>
                  <option value="workflowStateDown" translate="common.select.searchSort.workflowStateDown">workflowStateDown</option>
             </select>
             <a ng-click="doNewFulltextSearch();" class="button" translate="common.command.DoSearch">Search</a>
             {{ searchOptions.total }} Treffer  
          </div><!-- 
       --><paging
            class="small"
            page="searchOptions.curPage" 
            page-size="searchOptions.pageSize" 
            total="searchOptions.total"
            adjacent="2"
            dots="..."
            scroll-top="true" 
            hide-if-empty="true"
            ul-class="pagination"
            active-class="active"
            disabled-class="disabled"
            show-prev-next="true"
            paging-action="nextPageAct('Paging Clicked', page)">
          </paging><!--  
     --></div>

          <!-- 
          *****************************
          *****************************
          * Current SearchResult
          *****************************
          *****************************
          -->
          <table id="masterTable" class="fancytree-ext-table">
              <!-- define columngroups -->
              <colgroup>
              <col class="container_field fieldtype_name field_name"></col>
              <col class="block_nodedata"></col>
              <col class="block_nodegantt"></col>
              <col class="container_field fieldtype_actions"></col>
              </colgroup>
              <thead>
                <tr id="tab_header"> 
                  <th id="tab_name_haeder">
                    <!-- show name-header and data-toggler -->
                    <span  translate="fancytree.table.headline.name">Name</span>
                    <span style="display: inline-block; width: 300px;" data-tooltip='tooltip.command.ShowGanttData' lang="tech">
                      <a onclick="yaioShowGanttBlock();return false;" id="tabTogglerGantt" class="button tabToggler" translate="fancytree.table.headline.tabTogglerGantt">Zeige Gantt</a>
                      <a onclick="yaioShowDataBlock();return false;" id="tabTogglerData" class="button tabToggler"  translate="fancytree.table.headline.tabTogglerData" style="display: none">Zeige Daten</a>
                    </span>
                    </th>
                  <th class="block_nodedata">
                    <!-- show workflow-header -->
                    <div class="container_data_row">
                      <div class="container_field fieldtype_basedata fieldtype_metanummer field_metanummer field_center" translate="fancytree.table.headline.metanummer">Nr.<br />&nbsp;</div>
                      <div class="container_field fieldtype_basedata fieldtype_type field_type field_center" translate="fancytree.table.headline.type">Typ<br />&nbsp;</div>
                      <div class="container_field fieldtype_additionaldata fieldtype_stand field_istChildrenSumStand field_center" translate="fancytree.table.headline.istChildrenSumStand">Ist<br />Stand</div>
                      <div class="container_field fieldtype_additionaldata fieldtype_aufwand field_istChildrenSumAufwand field_center" translate="fancytree.table.headline.istChildrenSumAufwand"> <br />Aufwand</div>
                      <div class="container_field fieldtype_additionaldata fieldtype_fromto field_istChildrenSum field_center" translate="fancytree.table.headline.istChildrenSum"> <br />Zeitraum</div>
                      <div class="container_field fieldtype_additionaldata fieldtype_aufwand field_planChildrenSumAufwand field_center" translate="fancytree.table.headline.planChildrenSumAufwand">Plan<br />Aufwand</div>
                      <div class="container_field fieldtype_additionaldata fieldtype_fromto field_planChildrenSum field_center" translate="fancytree.table.headline.planChildrenSum"> <br />Zeitraum</div>
                      <div class="container_field fieldtype_additionaldata fieldtype_descToggler toggler_show">
                         <br />
                         <a lang="tech" data-tooltip='tooltip.command.ToggleDescAll' id="toggler_desc_all" onclick="toggleAllNodeDescContainer(); return false;" href="#" class="toggler_hidden"></a>
                      </div>
                    </div></th>
                  <th class="block_nodegantt">
                    <!-- show gantt-header -->
                    <div class="gantt_container"  id="gantt_container_head">
                       <div class="gantt_aufwand" id="gantt_aufwand_head"  translate="fancytree.table.headline.ganttaufwand">Aufwand</div>
                       <div class="gantt_bar"  id="gantt_bar_head" data-tooltip='tooltip.command.GanttRange' lang="tech">
                        <input type="text" placeholder="dd.mm.jjjj" name="ganttRangeStart" pattern="\d{2}\.\d{2}\.\d{4}"  maxsize="10" value="01.01.2014" class="inputtype_date" id="inputGanttRangeStart" ng-model="ganttOptions.ganttRangeStart" ng-change="recalcGanttBlocks()">
                        <a ng-click="recalcGanttBlocks();" class="button" translate="fancytree.table.headline.ganttrange">Zeitbereich</a> 
                        <input type="text" placeholder="dd.mm.jjjj" name="ganttRangeEnde" pattern="\d{2}\.\d{2}\.\d{4}"  maxsize="10" value="31.12.2014" class="inputtype_date" style="text-align: right" id="inputGanttRangeEnde" ng-model="ganttOptions.ganttRangeEnd" ng-change="recalcGanttBlocks()"></th>
                       </div>
                    </div>
                  <th>
                    <!-- show actions-header -->
                    <span translate="fancytree.table.headline.actions"></span>
                    <br />
                    <div class="fieldtype_sysToggler toggler_show">
                      <a lang="tech" data-tooltip='tooltip.command.ToggleSysAll' id="toggler_sys_all" onclick="toggleAllNodeSysContainer(); return false;" href="#" class="toggler_hidden"></a>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="node in nodes | filter:search" id="tr{{node.sysUID}}" data-value="{{node.sysUID}}" class="">
                  <td>
                      <span class="fancytree-expander" style="background: none"><a href='#/show/{{searchOptions.baseSysUID}}/activate/{{node.sysUID}}' class="yaio-icon-open"></a></span>
                      <span class="fancytree-checkbox"></span>
                      <span class="fancytree-title fancytree-title-list"></span>
                  </td>
                  <td ng-init="renderNodeLine(node)"/>
                  <td />
                  <td class="hidden" />
                </tr>
              </tbody>
          </table>
    </div>
</div>

<script type="text/javascript">
    // activate elements after 1 second
    setTimeout(function() { 
        // activate speech recognition
        addSpeechRecognitionToElements();
        addDatePickerToElements();
        addDocLayoutStyleSelectorToElements();
        initLanguageSupport();


        //add resize event
        $( window ).resize(function() {
                setupAppSize();
        });    
        $( window ).scroll(function() {
            setupAppSize();
    });    

    }, 1000);
    
</script>
