<div class='box box-portdesc add2toc-h1 box-portdesc-thatsit' toclabel='Explorer' id='box_YAIO801'>
<div class='boxline boxline-ue2 h2-portdesc h2-portdesc-thatsit' id='ue_YAIO801'>YAIO - D'Artagnan - Explorer</div>
<div class='togglecontainer togglecontainer-thatsit' id='detail_YAIO801'>

    <!-- 
    *****************************
    *****************************
    * Current Data
    *****************************
    *****************************
     -->
    <div class="verortung">
        <div class="entry node-state-{{parentnode.state}}" ng-repeat="parentnode in nodeHierarchy">
          <b> --&gt;</b> 
              <a href='#/show/{{parentnode.sysUID}}' class="btn btn-default btn-sm" >
                  <state value="parentnode.state" /> 
                  - {{parentnode.name}}
               </a>
        </div>
        <div class="entry node-state-{{node.state}}"><b> --&gt; <state value="node.state" /> - {{node.name}}</b></div>
    </div>

</div></div>

<div class='container-yaio-current' toclabel='Daten' id='box_data'>

    <!-- 
    *****************************
    *****************************
    * Current Tree
    *****************************
    *****************************
    -->
    <div id="containerYaioTree" class="box container-yaio-tree">
        <div id="containerYaioTreeTable" class="container-yaio-tree-table">
          <table id="tree">
              <colgroup>
              <col ></col>
              <col class="name"></col>
              <col class="dataBlock"></col>
              </colgroup>
              <thead>
                <tr> 
                  <th>O</th>
                  <th>Name</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>
    </div>

    <!-- 
    *****************************
    *****************************
    * Forms
    *****************************
    *****************************
    -->
    <div id="containerYaioEditor" class="container-yaio-editor">
      <div id="containerBoxYaioEditor" class="box containerbox-yaio-editor">

        <!-- 
        *************************
            Form: Create new Node
        ************************* 
        -->
        <div class="hidden container-yaio-editor-create" id="containerFormYaioEditorCreate">
          <h2>Nodetyp auswählen:</h2>
          <form with-errors class="hidden" id="nodeFormCreate" name="nodeFormCreate">
            
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDCreate" required ng-change="">
            <fieldset>
              <legend>Stammdaten</legend>
              
              <!-- show textfield -->
              <label for="state">Typ</label> 
              <select type="text" name="className" ng-model="nodeForEdit.className" class="inputtype_type" id="inputCreateNodeType" required ng-change=""> 
                  <option value="">Bitte wählen
                  <option value="TaskNode">Task
                  <option value="EventNode">Event
                  <option value="InfoNode">Info
                  <option value="UrlResNode">UrlUes
                  <option value="SymLinkNode">Symlink
              </select>
              
            </fieldset>

            <fieldset>
              <button ng-click="selectNewNodeType('nodeFormCreate')" ng-disabled="nodeFormCreate.$invalid" class="btn btn-primary">Select</button>
              <button ng-click="discard()" class="btn btn-primary">Discard</button>
            </fieldset>
          </form> 
        </div>

        <!-- 
        *************************
            Form: edit/create TaskNode
        ************************* 
        -->
        <div class="hidden container-yaio-editor-tasknode" id="containerFormYaioEditorTaskNode">
          <h2>Task bearbeiten:</h2>
          <form with-errors class="hidden" id="nodeFormTaskNode" name="nodeFormTaskNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDTaskNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameTaskNode" required ng-change="">
            <input class="hidden" type="text" name="mode" ng-model="nodeForEdit.mode" id="inputModeTaskNode" required ng-change="">

            <fieldset>
              <legend>Stammdaten</legend>
              
              <!-- show textfield -->
              <label for="name">Titel</label> 
              <input type="text" name="name" class="inputtype_name" ng-model="nodeForEdit.name" id="inputNameTaskNode" required ng-change=""> 
              <fielderrors for="name"></fielderrors>

              <br />
              
              <!-- show textfield -->
              <label for="state">Status</label> 
              <select type="text" name="state" class="inputtype_state" ng-model="nodeForEdit.state" id="inputStateTaskNode" required ng-change=""> 
                  <option value="">Bitte wählen
                  <option value="OFFEN">OFFEN
                  <option value="LATE">LATE
                  <option value="RUNNING">RUNNING
                  <option value="WARNING">WARNING
                  <option value="ERLEDIGT">ERLEDIGT
                  <option value="VERWORFEN">VERWORFEN
              </select> 
              <fielderrors for="state"></fielderrors>

              <!-- show select -->
              <label for="type">Typ</label> 
              <select type="text" name="type" class="inputtype_type" ng-model="nodeForEdit.type" id="inputTypeTaskNode" required ng-change="">
                  <option value="">Bitte wählen
                  <option value="OFFEN">OFFEN
                  <option value="LATE">LATE
                  <option value="RUNNING">RUNNING
                  <option value="WARNING">WARNING
                  <option value="ERLEDIGT">ERLEDIGT
                  <option value="VERWORFEN">VERWORFEN
              </select> 
              <fielderrors for="type"></fielderrors>
            </fieldset>

            <fieldset>
              <legend>Plan</legend>
              
              <!-- show textfield -->
              <label for="planAufwand">Aufwand</label> 
              <input type="number" name="planAufwand" class="inputtype_aufwand" ng-model="nodeForEdit.planAufwand" id="inputPlanAufwandTaskNode" ng-change=""> 
              <fielderrors for="planAufwand"></fielderrors>

              <!-- show textfield -->
              <label for="planStart">Start</label> 
              <input type="text" name="planStart" class="inputtype_date" ng-model="nodeForEdit.planStart" id="inputPlanStartTaskNode" ng-change=""> 
              <fielderrors for="planStart"></fielderrors>

              <!-- show textfield -->
              <label for="planEnde">Ende</label> 
              <input type="text" name="planEnde" class="inputtype_date" ng-model="nodeForEdit.planEnde" id="inputPlanEndeTaskNode" ng-change=""> 
              <fielderrors for="planEnde"></fielderrors>
            </fieldset>

            <fieldset>
              <legend>Ist</legend>
              
              <!-- show textfield -->
              <label for="istAufwand">Aufwand</label> 
              <input type="number" name="istAufwand" class="inputtype_aufwand" ng-model="nodeForEdit.istAufwand" id="inputIstAufwandTaskNode" ng-change=""> 
              <fielderrors for="istAufwand"></fielderrors>

              <!-- show textfield -->
              <label for="istStart">Start</label> 
              <input type="text" name="istStart" class="inputtype_date" ng-model="nodeForEdit.istStart" id="inputIstStartTaskNode" ngEventNode""> 
              <fielderrors for="istStart"></fielderrors>

              <!-- show textfield -->
              <label for="istEnde">Ende</label> 
              <input type="text" name="istEnde" class="inputtype_date" ng-model="nodeForEdit.istEnde" id="inputIstEndeTaskNode" ng-change=""> 
              <fielderrors for="istEnde"></fielderrors>

              <!-- show textfield -->
              <label for="istStand">Stand</label> 
              <input type="number" min="0" max="100" name="istStand" class="inputtype_stand" ng-model="nodeForEdit.istStand" id="inputIstStandTaskNode" ng-change=""> 
              <fielderrors for="istStand"></fielderrors>

            </fieldset>

            <fieldset>
              <legend>Details</legend>
              
              <!-- show textfield -->
              <label for="nodeDesc">Details</label> 
              <textarea name="nodeDesc" class="textareatype_nodeDesc" ng-model="nodeForEdit.nodeDesc" id="inputNodeDescTaskNode" ng-change=""></textarea> 
              <fielderrors for="nodeDesc"></fielderrors>
            </fieldset>

            <fieldset>
              <button ng-click="save('nodeFormTaskNode')" ng-disabled="nodeFormTaskNode.$invalid" class="btn btn-primary">Save</button>
              <button ng-click="discard()" class="btn btn-primary">Discard</button>
            </fieldset>
          </form>
        </div>
        
        <!-- 
        *************************
            Form: edit/create EventNode
        ************************* 
        -->
        <div class="hidden container-yaio-editor-eventnode" id="containerFormYaioEditorEventNode">
          <h2>Event bearbeiten:</h2>

          <form with-errors class="hidden" id="nodeFormEventNode" name="nodeFormEventNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDEventNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameEventNode" required ng-change="">
            <input class="hidden" type="text" name="mode" ng-model="nodeForEdit.mode" id="inputModeEventNode" required ng-change="">

            <fieldset>
              <legend>Stammdaten</legend>
              
              <!-- show textfield -->
              <label for="name">Titel</label> 
              <input type="text" name="name" class="inputtype_name" ng-model="nodeForEdit.name" id="inputNameEventNode" required ng-change=""> 
              <fielderrors for="name"></fielderrors>

              <br />
              
              <!-- show textfield -->
              <label for="state">Status</label> 
              <select type="text" name="state" class="inputtype_state" ng-model="nodeForEdit.state" id="inputStateEventNode" required ng-change=""> 
                  <option value="">Bitte wählen
                  <option value="EVENT_PLANED">PLANED
                  <option value="EVENT_CONFIRMED">CONFIRMED
                  <option value="EVENT_LATE">LATE
                  <option value="EVENT_RUNNING">RUNNING
                  <option value="EVENT_SHORT">SHORT
                  <option value="EVENT_ERLEDIGT">ERLEDIGT
                  <option value="EVENT_VERWORFEN">VERWORFEN
              </select> 
              <fielderrors for="state"></fielderrors>

              <!-- show select -->
              <label for="type">Typ</label> 
              <select type="text" name="type" class="inputtype_type" ng-model="nodeForEdit.type" id="inputTypeEventNode" required ng-change="">
                  <option value="">Bitte wählen
                  <option value="EVENT_PLANED">PLANED
                  <option value="EVENT_CONFIRMED">CONFIRMED
                  <option value="EVENT_LATE">LATE
                  <option value="EVENT_RUNNING">RUNNING
                  <option value="EVENT_SHORT">SHORT
                  <option value="EVENT_ERLEDIGT">ERLEDIGT
                  <option value="EVENT_VERWORFEN">VERWORFEN
              </select> 
              <fielderrors for="type"></fielderrors>
            </fieldset>

            <fieldset>
              <legend>Plan</legend>
              
              <!-- show textfield -->
              <label for="planAufwand">Aufwand</label> 
              <input type="number" name="planAufwand" class="inputtype_aufwand" ng-model="nodeForEdit.planAufwand" id="inputPlanAufwandEventNode" ng-change=""> 
              <fielderrors for="planAufwand"></fielderrors>

              <!-- show textfield -->
              <label for="planStart">Start</label> 
              <input type="text" name="planStart" class="inputtype_datetime" ng-model="nodeForEdit.planStart" id="inputPlanStartEventNode" ng-change=""> 
              <fielderrors for="planStart"></fielderrors>

              <!-- show textfield -->
              <label for="planEnde">Ende</label> 
              <input type="text" name="planEnde" class="inputtype_datetime" ng-model="nodeForEdit.planEnde" id="inputPlanEndeEventNode" ng-change=""> 
              <fielderrors for="planEnde"></fielderrors>
            </fieldset>

            <fieldset>
              <legend>Ist</legend>
              
              <!-- show textfield -->
              <label for="istAufwand">Aufwand</label> 
              <input type="number" name="istAufwand" class="inputtype_aufwand" ng-model="nodeForEdit.istAufwand" id="inputIstAufwandEventNode" ng-change=""> 
              <fielderrors for="istAufwand"></fielderrors>

              <!-- show textfield -->
              <label for="istStart">Start</label> 
              <input type="text" name="istStart" class="inputtype_datetime" ng-model="nodeForEdit.istStart" id="inputIstStartEventNode" ng-change=""> 
              <fielderrors for="istStart"></fielderrors>

              <!-- show textfield -->
              <label for="istEnde">Ende</label> 
              <input type="text" name="istEnde" class="inputtype_datetime" ng-model="nodeForEdit.istEnde" id="inputIstEndeEventNode" ng-change=""> 
              <fielderrors for="istEnde"></fielderrors>

              <!-- show textfield -->
              <label for="istStand">Stand</label> 
              <input type="number" min="0" max="100" name="istStand" class="inputtype_stand" ng-model="nodeForEdit.istStand" id="inputIstStandEventNode" ng-change=""> 
              <fielderrors for="istStand"></fielderrors>

            </fieldset>

            <fieldset>
              <legend>Details</legend>
              
              <!-- show textfield -->
              <label for="nodeDesc">Details</label> 
              <textarea name="nodeDesc" class="textareatype_nodeDesc" ng-model="nodeForEdit.nodeDesc" id="inputNodeDescEventNode" ng-change=""></textarea> 
              <fielderrors for="nodeDesc"></fielderrors>
            </fieldset>

            <fieldset>
              <button ng-click="save('nodeFormEventNode')" ng-disabled="nodeFormEventNode.$invalid" class="btn btn-primary">Save</button>
              <button ng-click="discard()" class="btn btn-primary">Discard</button>
            </fieldset>
          </form>
        </div>
        
        <!-- 
        *************************
            Form: edit/create InfoNode
        ************************* 
        -->
        <div class="hidden container-yaio-editor-infonode" id="containerFormYaioEditorInfoNode">
          <h2>Info bearbeiten:</h2>

          <form with-errors class="hidden" id="nodeFormInfoNode" name="nodeFormInfoNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDInfoNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameInfoNode" required ng-change="">
            <input class="hidden" type="text" name="mode" ng-model="nodeForEdit.mode" id="inputModeInfoNode" required ng-change="">

            <fieldset>
              <legend>Stammdaten</legend>
              
              <!-- show textfield -->
              <label for="name">Titel</label> 
              <textarea name="name" class="textareatype_name" ng-model="nodeForEdit.name" id="inputNameInfoNode" required ng-change=""></textarea> 
              <fielderrors for="name"></fielderrors>

              <br />
              
              <!-- show select -->
              <label for="type">Typ</label> 
              <select type="text" name="type" class="inputtype_type" ng-model="nodeForEdit.type" id="inputTypeInfoNode" required ng-change="">
                  <option value="">Bitte wählen
                  <option value="INFO">Information
                  <option value="DOKU">Dokumentation
                  <option value="IDEE">Idee
                  <option value="HOWTO">Howto
              </select> 
              <fielderrors for="type"></fielderrors>
            </fieldset>
      
            <fieldset>
              <legend>Details</legend>
              
              <!-- show textfield -->
              <label for="nodeDesc">Details</label> 
              <textarea name="nodeDesc" class="textareatype_nodeDesc" ng-model="nodeForEdit.nodeDesc" id="inputNodeDescInfoNode" ng-change=""></textarea> 
              <fielderrors for="nodeDesc"></fielderrors>
            </fieldset>

            <fieldset>
              <button ng-click="save('nodeFormInfoNode')" ng-disabled="nodeFormInfoNode.$invalid" class="btn btn-primary">Save</button>
              <button ng-click="discard()" class="btn btn-primary">Discard</button>
            </fieldset>

          </form>
        </div>
        
        <!-- 
        *************************
            Form: edit/create UrlResNode
        ************************* 
        -->
        <div class="hidden container-yaio-editor-urlresnode" id="containerFormYaioEditorUrlResNode">
          <h2>Ressource bearbeiten:</h2>

          <form with-errors class="hidden" id="nodeFormUrlResNode" name="nodeFormUrlResNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDUrlResNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameUrlResNode" required ng-change="">
            <input class="hidden" type="text" name="mode" ng-model="nodeForEdit.mode" id="inputModeUrlResNode" required ng-change="">

            <fieldset>
              <legend>Stammdaten</legend>
              
              <!-- show textfield -->
              <label for="name">Titel</label> 
              <input type="text" name="name" class="inputtype_name" ng-model="nodeForEdit.name" id="inputNameUrlResNode" required ng-change=""> 
              <fielderrors for="name"></fielderrors>

              <br />
              
              <!-- show select -->
              <label for="type">Typ</label> 
              <select type="text" name="type" class="inputtype_type" ng-model="nodeForEdit.type" id="inputTypeUrlResNode" required ng-change="">
                  <option value="">Bitte wählen
                  <option value="FILERES">Dateiverweis
                  <option value="URLRES">Url
                  <option value="IMAGERES">Bild-Verweis
                  <option value="EMAILRES">Email-Verweis
              </select> 
              <fielderrors for="type"></fielderrors>
            </fieldset>
      
            <fieldset>
              <legend>Resource</legend>
              
              <!-- show textfield -->
              <label for="resLocRef">URI</label> 
              <input type="text" name="resLocRef" class="inputtype_resLocRef" ng-model="nodeForEdit.resLocRef" id="inputResLocRefUrlResNode" required ng-change=""> 
              <fielderrors for="resLocRef"></fielderrors>

              <br />

              <!-- show textfield -->
              <label for="resLocName">Label</label> 
              <input type="text" name="resLocName" class="inputtype_resLocName" ng-model="nodeForEdit.resLocName" id="inputResLocNameUrlResNode" ng-change=""> 
              <fielderrors for="resLocName"></fielderrors>

              <br />

              <!-- show textfield -->
              <label for="resLocTags">Tags</label> 
              <textarea name="resLocTags" class="textareatype_resLocTags" ng-model="nodeForEdit.resLocTags" id="inputResLocTagsUrlResNode" ng-change=""></textarea> 
              <fielderrors for="resLocTags"></fielderrors>
              
            </fieldset>

            <fieldset>
              <legend>Details</legend>
              
              <!-- show textfield -->
              <label for="nodeDesc">Details</label> 
              <textarea name="nodeDesc" class="textareatype_nodeDesc" ng-model="nodeForEdit.nodeDesc" id="inputNodeDescUrlResNode" ng-change=""></textarea> 
              <fielderrors for="nodeDesc"></fielderrors>
            </fieldset>

            <fieldset>
              <button ng-click="save('nodeFormUrlResNode')" ng-disabled="nodeFormUrlResNode.$invalid" class="btn btn-primary">Save</button>
              <button ng-click="discard()" class="btn btn-primary">Discard</button>
            </fieldset>

          </form>
        </div>

        <!-- 
        *************************
            Form: edit/create SymLinkNode
        ************************* 
        -->
        <div class="hidden container-yaio-editor-urlresnode" id="containerFormYaioEditorSymLinkNode">
          <h2>SymLink bearbeiten:</h2>

          <form with-errors class="hidden" id="nodeFormSymLinkNode" name="nodeFormSymLinkNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDSymLinkNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameSymLinkNode" required ng-change="">
            <input class="hidden" type="text" name="type" ng-model="nodeForEdit.type" id="inputTypeSymLinkNode" value="SYMLINK" required ng-change="">
            <input class="hidden" type="text" name="mode" ng-model="nodeForEdit.mode" id="inputModeSymLinkNode" required ng-change="">

            <fieldset>
              <legend>Stammdaten</legend>
              
              <!-- show textfield -->
              <label for="name">Titel</label> 
              <input type="text" name="name" class="inputtype_name" ng-model="nodeForEdit.name" id="inputNameSymLinkNode" required ng-change=""> 
              <fielderrors for="name"></fielderrors>
            </fieldset>
      
            <fieldset>
              <legend>SymLink</legend>
              
              <!-- show textfield -->
              <label for="symLinkRef">Referenz</label> 
              <input type="text" name="symLinkRef" class="inputtype_symLinkRef" ng-model="nodeForEdit.symLinkRef" id="inputSymLinkRefSymLinkNode" required ng-change=""> 
              <fielderrors for="symLinkRef"></fielderrors>

              <br />

              <!-- show textfield -->
              <label for="symLinkName">Label</label> 
              <input type="text" name="symLinkName" class="inputtype_symLinkName" ng-model="nodeForEdit.symLinkName" id="inputSymLinkNameSymLinkNode" ng-change=""> 
              <fielderrors for="symLinkName"></fielderrors>

              <br />

              <!-- show textfield -->
              <label for="symLinkTags">Tags</label> 
              <textarea name="symLinkTags" class="textareatype_symLinkTags" ng-model="nodeForEdit.symLinkTags" id="inputSymLinkTagsSymLinkNode" ng-change=""></textarea> 
              <fielderrors for="symLinkTags"></fielderrors>
              
            </fieldset>

            <fieldset>
              <legend>Details</legend>
              
              <!-- show textfield -->
              <label for="nodeDesc">Details</label> 
              <textarea name="nodeDesc" class="textareatype_nodeDesc" ng-model="nodeForEdit.nodeDesc" id="inputNodeDescSymLinkNode" ng-change=""></textarea> 
              <fielderrors for="nodeDesc"></fielderrors>
            </fieldset>

            <fieldset>
              <button ng-click="save('nodeFormSymLinkNode')" ng-disabled="nodeFormSymLinkNode.$invalid" class="btn btn-primary">Save</button>
              <button ng-click="discard()" class="btn btn-primary">Discard</button>
            </fieldset>

          </form>
        </div>
      </div>
    </div>
</div>

