<div class='box box-portdesc add2toc-h1 box-portdesc-thatsit' toclabel='Explorer' id='box_YAIO801'>
<div class='boxline boxline-ue2 h2-portdesc h2-portdesc-thatsit' id='ue_YAIO801'>YAIO - D'Artagnan - Explorer</div>
<div class='togglecontainer togglecontainer-thatsit' id='detail_YAIO801'>

    <!-- 
    *****************************
    *****************************
    * Current Data
    *****************************
    *****************************
     -->
    <div class="verortung" ng-controller="NodeShowCtrl">
        <div class="entry node-state-{{parentnode.state}}" ng-repeat="parentnode in nodeHierarchy">
          <b> --&gt;</b> 
              <a href='#/show/{{parentnode.sysUID}}' class="btn btn-default btn-sm" >
                  <state value="parentnode.state" /> 
                  - {{parentnode.name}}
               </a>
        </div>
        <div class="entry node-state-{{node.state}}"><b> --&gt; <state value="node.state" /> - {{node.name}}</b></div>
    </div>

</div></div>

<div class='box box-portdesc add2toc-h1 box-portdesc-data' toclabel='Daten' id='box_data'>

    <!-- 
    *****************************
    *****************************
    * Current Tree
    *****************************
    *****************************
    -->
    <div id="containerYaioTree" class="container-yaio-tree">
        <div id="containerYaioTreeTable" class="container-yaio-tree-table">
          <table id="tree">
              <colgroup>
              <col ></col>
              <col class="name"></col>
              <col class="dataBlock"></col>
              </colgroup>
              <thead>
                <tr> 
                  <th>O</th>
                  <th>Name</th>
                  <th>Data</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>
    </div>

    <!-- 
    *****************************
    *****************************
    * Forms
    *****************************
    *****************************
    -->
    <div id="containerYaioEditor" class="container-yaio-editor" ng-controller="NodeShowCtrl">

        <!-- TODO: different fields for the nodetypes -->
        <div class="hidden container-yaio-editor-tasknode" id="containerYaioEditorTaskNode">
          <h2>Task bearbeiten:</h2>
          <form class="hidden" id="nodeFormTaskNode" name="nodeFormTaskNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDTaskNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameTaskNode" required ng-change="">
            
            <!-- show textfield -->
            <div class="control-group" ng-class="{error: nodeForm.name.$invalid && !nodeForm.name.$pristine}">
              <label>Titel</label> 
              <input type="text" name="name" ng-model="nodeForEdit.name" id="inputNameTaskNode" required ng-change=""> 
              <span ng-show="nodeForm.name.$error.required && !nodeForm.name.$pristine" class="help-inline"> * {{nodeForm.name.$pristine}}</span>
            </div>
      
            <button ng-click="save('TaskNode')" ng-disabled="nodeForm.$invalid" class="btn btn-primary">Save</button>
          </form>
        </div>
        
        <div class="hidden container-yaio-editor-eventnode" id="containerYaioEditorEventNode">
          <h2>Event bearbeiten:</h2>
          <form class="hidden" id="nodeFormEventNode" name="nodeFormEventNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDEventNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameEventNode" required ng-change="">
            
            <!-- show textfield -->
            <div class="control-group" ng-class="{error: nodeForm.name.$invalid && !nodeForm.name.$pristine}">
              <label>Titel</label> 
              <input type="text" name="name" ng-model="nodeForEdit.name" id="inputNameEventNode" required ng-change=""> 
              <span ng-show="nodeForm.name.$error.required && !nodeForm.name.$pristine" class="help-inline"> * {{nodeForm.name.$pristine}}</span>
            </div>
      
            <button ng-click="save('EventNode')" ng-disabled="nodeForm.$invalid" class="btn btn-primary">Save</button>
          </form>
        </div>
        
        <div class="hidden container-yaio-editor-infonode" id="containerYaioEditorInfoNode">
          <h2>Info bearbeiten:</h2>
          <form class="hidden" id="nodeFormInfoNode" name="nodeFormInfoNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDInfoNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameInfoNode" required ng-change="">
            
            <!-- show textfield -->
            <div class="control-group" ng-class="{error: nodeForm.name.$invalid && !nodeForm.name.$pristine}">
              <label>Titel</label> 
              <input type="text" name="name" ng-model="nodeForEdit.name" id="inputNameInfoNode" required ng-change=""> 
              <span ng-show="nodeForm.name.$error.required && !nodeForm.name.$pristine" class="help-inline"> * {{nodeForm.name.$pristine}}</span>
            </div>
      
            <button ng-click="save('InfoNode')" ng-disabled="nodeForm.$invalid" class="btn btn-primary">Save</button>
          </form>
        </div>
        
        <div class="hidden container-yaio-editor-urlresnode" id="containerYaioEditorUrlResNode">
          <h2>Ressource bearbeiten:</h2>
          <form class="hidden" id="nodeFormUrlResNode" name="nodeFormUrlResNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDUrlResNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameUrlResNode" required ng-change="">
            
            <!-- show textfield -->
            <div class="control-group" ng-class="{error: nodeForm.name.$invalid && !nodeForm.name.$pristine}">
              <label>Titel</label> 
              <input type="text" name="name" ng-model="nodeForEdit.name" id="inputNameUrlResNode" required ng-change=""> 
              <span ng-show="nodeForm.name.$error.required && !nodeForm.name.$pristine" class="help-inline"> * {{nodeForm.name.$pristine}}</span>
            </div>
      
            <button ng-click="save('UrlResNode')" ng-disabled="nodeForm.$invalid" class="btn btn-primary">Save</button>
          </form>
        </div>
    </div>
</div>

