        <!-- 
        *************************
            Form: edit/create SymLinkNode
        ************************* 
        -->
        <div class="hidden container-yaio-editor-urlresnode" id="containerFormYaioEditorSymLinkNode">
          <h4 translate="editor.formSymLinkNode.ue">SymLink bearbeiten:</h4>
          <p translate="editor.formSymLinkNode.intro" class="msg-form-intro" id="nodeFormSymLinkNodeIntro"></p>

          <form with-errors class="hidden" id="nodeFormSymLinkNode" name="nodeFormSymLinkNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDSymLinkNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameSymLinkNode" required ng-change="">
            <input class="hidden" type="text" name="type" ng-model="nodeForEdit.type" id="inputTypeSymLinkNode" value="SYMLINK" required ng-change="">
            <input class="hidden" type="text" name="mode" ng-model="nodeForEdit.mode" id="inputModeSymLinkNode" required ng-change="">

            <fieldset>
              <legend translate="editor.common.legend.Stammdaten">Stammdaten</legend>
              
              <!-- show textfield -->
              <label for="name" translate="editor.common.label.name">Titel</label> 
              <input type="text" name="name" class="inputtype_name" ng-model="nodeForEdit.name" id="inputNameSymLinkNode" required ng-change=""> 
              <fielderrors for="name"></fielderrors>
            </fieldset>
      
            <fieldset>
              <legend translate="editor.common.legend.SymLink">SymLink</legend>
              
              <!-- show textfield -->
              <label for="symLinkRef" translate="editor.common.label.symLinkRef">Referenz</label> 
              <input type="text" name="symLinkRef" placeholder="YAIO2311" class="inputtype_symLinkRef" ng-model="nodeForEdit.symLinkRef" id="inputSymLinkRefSymLinkNode" required ng-change=""> 
              <fielderrors for="symLinkRef"></fielderrors>

              <br />

              <!-- show textfield -->
              <label for="symLinkName" translate="editor.common.label.symLinkName">Label</label> 
              <input type="text" name="symLinkName" class="inputtype_symLinkName" ng-model="nodeForEdit.symLinkName" id="inputSymLinkNameSymLinkNode" ng-change=""> 
              <fielderrors for="symLinkName"></fielderrors>

              <br />

              <!-- show textfield -->
              <label for="symLinkTags" translate="editor.common.label.symLinkTags">Tags</label> 
              <textarea name="symLinkTags" class="textareatype_symLinkTags" ng-model="nodeForEdit.symLinkTags" id="inputSymLinkTagsSymLinkNode" ng-change=""></textarea> 
              <fielderrors for="symLinkTags"></fielderrors>
              
            </fieldset>

            <fieldset>
              <button ng-click="save('nodeFormSymLinkNode')" ng-disabled="nodeFormSymLinkNode.$invalid" class="btn btn-primary" translate="common.buttonSave">Save</button>
              <button ng-click="discard()" class="btn btn-primary" translate="common.buttonDiscard">Discard</button>
            </fieldset>

            <fieldset>
              <legend id="legendDescSymLinkForm"><span translate="editor.common.legend.Details">Details</span></legend>
              <div class="formrow filter_DescSymLinkNode flg-hide-if-inputvalue-empty" id="formrow_inputDescSymLinkNode" inputids="inputNodeDescSymLinkNode">
              
                <!-- show textfield -->
                <label for="nodeDesc" translate="editor.common.label.nodeDesc">Details</label> 
                <textarea name="nodeDesc" class="textareatype_nodeDesc" ng-model="nodeForEdit.nodeDesc" id="inputNodeDescSymLinkNode" ng-change=""></textarea> 

                <fielderrors for="nodeDesc"></fielderrors>
                <pre id="editorInputNodeDescSymLinkNode" class="pre_nodeDesc_editor"></pre> 
              </div>
            </fieldset>
            <script type="text/javascript">
            // toggler for optional, empty elements
             jMATService.getPageLayoutService().appendFormrowToggler("legendDescSymLinkForm", "filterDescSymLinkForm", "filter_DescSymLinkNode", "&nbsp;");
            </script>

          </form>
        </div>
