        <!-- 
        *************************
            Form: edit/create UrlResNode
        ************************* 
        -->
        <div class="hidden container-yaio-editor-urlresnode" id="containerFormYaioEditorUrlResNode">
          <h4 translate="editor.formUrlResNode.ue">UrlRes bearbeiten:</h4>
          <p translate="editor.formUrlResNode.intro" class="msg-form-intro" id="nodeFormUrlResNodeIntro"></p>

          <form with-errors class="hidden" id="nodeFormUrlResNode" name="nodeFormUrlResNode">
            <!-- simulate hiddenfield -->
            <input class="hidden" type="text" name="sysUID" ng-model="nodeForEdit.sysUID" id="inputSysUIDUrlResNode" required ng-change="">
            <input class="hidden" type="text" name="className" ng-model="nodeForEdit.className" id="inputClassNameUrlResNode" required ng-change="">
            <input class="hidden" type="text" name="mode" ng-model="nodeForEdit.mode" id="inputModeUrlResNode" required ng-change="">

            <fieldset>
              <legend translate="editor.common.legend.Stammdaten">Stammdaten</legend>
              
              <!-- show select -->
              <label for="type" translate="editor.common.label.type">Typ</label> 
              <select type="text" name="type" class="inputtype_type" ng-model="nodeForEdit.type" id="inputTypeUrlResNode" required ng-change="">
                  <option value="" translate="common.select.pleaseselect">Bitte wählen
                  <option value="FILERES" translate="common.select.UrlRes.FILERES">Dateiverweis
                  <option value="URLRES" translate="common.select.UrlRes.URLRES">Url
                  <option value="IMAGERES" translate="common.select.UrlRes.IMAGERES">Bild-Verweis
                  <option value="EMAILRES" translate="common.select.UrlRes.EMAILRES">Email-Verweis
              </select> 

              <!-- show textfield -->
              <label for="name" translate="editor.common.label.name">Titel</label> 
              <input type="text" name="name" class="inputtype_name" ng-model="nodeForEdit.name" id="inputNameUrlResNode" required ng-change=""> 

              <fielderrors for="type"></fielderrors>
              <fielderrors for="name"></fielderrors>

            </fieldset>
      
            <fieldset>
              <legend translate="editor.common.legend.Resource">Resource</legend>
              
              <!-- show textfield -->
              <label for="resLocRef" translate="editor.common.label.resLocRef">URI</label> 
              <input type="text" name="resLocRef" placeholder="http:// oder  file://" class="inputtype_resLocRef" ng-model="nodeForEdit.resLocRef" id="inputResLocRefUrlResNode" required ng-change=""> 
              <fielderrors for="resLocRef"></fielderrors>

              <br />

              <!-- show textfield -->
              <label for="resLocName" translate="editor.common.label.resLocName">Label</label> 
              <input type="text" name="resLocName" class="inputtype_resLocName" ng-model="nodeForEdit.resLocName" id="inputResLocNameUrlResNode" ng-change=""> 
              <fielderrors for="resLocName"></fielderrors>

              <br />

              <!-- show textfield -->
              <label for="resLocTags" translate="editor.common.label.resLocTags">Tags</label> 
              <textarea name="resLocTags" class="textareatype_resLocTags" ng-model="nodeForEdit.resLocTags" id="inputResLocTagsUrlResNode" ng-change=""></textarea> 
              <fielderrors for="resLocTags"></fielderrors>
              
            </fieldset>

            <fieldset id="layoutUrlResNode">
              <legend id="legendLayoutUrlResForm"><span translate="editor.common.legend.Layout">Layout für Bilder in Dokumentationen</span></legend>
              <div class="formrow filter_LayoutUrlResNode flg-hide-if-inputvalue-empty" id="formrow_inputLayoutUrlResNode" inputids="inputDocLayoutTagCommandUrlResNode,inputDocLayoutAddStyleClassUrlResNode,inputDocLayoutShortNameUrlResNode,inputDocLayoutFlgCloseDivUrlResNode">
              
                <!-- show select -->
                <label for="docLayoutTagCommand" translate="editor.common.label.docLayoutTagCommand">Html-Tag</label> 
                <select name="docLayoutTagCommand" class="inputtype_docLayoutTagCommand" ng-model="nodeForEdit.docLayoutTagCommand" id="inputDocLayoutTagCommandUrlResNode" ng-change="">
                    <option value="" translate="common.select.pleaseselect">Bitte wählen
                    <option value="P">Textzeile
                    <option value="LI">Aufzähungszeile
                    <option value="TR">Tabellenzeile
                    <option value="DIRECT">Direkte Ausgabe
                </select> 
  
                <label for="docLayoutAddStyleClass" translate="editor.common.label.docLayoutAddStyleClass">CSS-Klasse</label> 
                <input type="text" name="docLayoutAddStyleClass" class="inputtype_docLayoutAddStyleClass" ng-model="nodeForEdit.docLayoutAddStyleClass" id="inputDocLayoutAddStyleClassUrlResNode" ng-change=""> 
  
                <label for="docLayoutShortName" translate="editor.common.label.docLayoutShortName">Kurzname</label> 
                <input type="text" name="docLayoutShortName" class="inputtype_docLayoutShortName" ng-model="nodeForEdit.docLayoutShortName" id="inputDocLayoutShortNameUrlResNode" ng-change=""> 
  
                <label for="docLayoutFlgCloseDiv" translate="editor.common.label.docLayoutFlgCloseDiv">Block schließen?</label> 
                <input type="checkbox" name="docLayoutFlgCloseDiv" class="inputtype_docLayoutFlgCloseDiv" ng-model="nodeForEdit.docLayoutFlgCloseDiv" id="inputDocLayoutFlgCloseDivUrlResNode" ng-change=""> 
  
                <fielderrors for="docLayoutTagCommand"></fielderrors>
                <fielderrors for="docLayoutAddStyleClass"></fielderrors>
                <fielderrors for="docLayoutShortName"></fielderrors>
                <fielderrors for="docLayoutFlgCloseDiv"></fielderrors>
              </div>
            </fieldset>
            <script type="text/javascript">
            // toggler for optional, empty elements
             jMATService.getPageLayoutService().appendFormrowToggler("legendLayoutUrlResForm", "filterLayoutUrlResForm", "filter_LayoutUrlResNode", "&nbsp;");
            </script>

            <fieldset>
              <button ng-click="save('nodeFormUrlResNode')" ng-disabled="nodeFormUrlResNode.$invalid" class="btn btn-primary" translate="common.buttonSave">Save</button>
              <button ng-click="discard()" class="btn btn-primary" translate="common.buttonDiscard">Discard</button>
            </fieldset>

            <fieldset>
              <legend id="legendDescUrlResForm"><span translate="editor.common.legend.Details">Details</span></legend>
              <div class="formrow filter_DescUrlResNode flg-hide-if-inputvalue-empty" id="formrow_inputDescUrlResNode" inputids="inputNodeDescUrlResNode">
              
                <!-- show textfield -->
                <label for="nodeDesc" translate="editor.common.label.nodeDesc">Details</label> 
                <textarea name="nodeDesc" class="textareatype_nodeDesc" ng-model="nodeForEdit.nodeDesc" id="inputNodeDescUrlResNode" ng-change=""></textarea> 
                <fielderrors for="nodeDesc"></fielderrors>
                <pre id="editorInputNodeDescUrlResNode" class="pre_nodeDesc_editor"></pre> 
              </div>
            </fieldset>
            <script type="text/javascript">
            // toggler for optional, empty elements
             jMATService.getPageLayoutService().appendFormrowToggler("legendDescUrlResForm", "filterDescUrlResForm", "filter_DescUrlResNode", "&nbsp;");
            </script>

          </form>
        </div>
