<div class='box box-portdesc add2toc-h1 box-portdesc-explorer' toclabel='Explorer' id='box_explorer'>
    <div class='boxline boxline-ue2 h2-portdesc h2-portdesc-explorer' id='ue_explorer'>YAIO - D'Artagnan - Explorer
      <div id="containerInfoCommands">
          <div ng-include="'js/frontpage/menu-main.html'"></div>
      </div>
    </div>

    <div class='togglecontainer togglecontainer-exporer' id='details_explorer'>
    </div>
</div>

<div id="front-content-left">
  <div ng-include="frontPageUrl" id="front-content-intro"></div>
  
  <div class='box box-portdesc add2toc-h1 box-portdesc-todonext' toclabel='ToDoNext' id='box_todonext'>
      <div class='boxline boxline-ue2 h2-portdesc h2-portdesc-todonext' id='ue_todonext' translate="todonext.ue">ToDoNext</div>
  
      <div class='togglecontainer togglecontainer-todonext' id='details_todonext'>
          <ul>
             <li class="todonext" data-tooltip='tooltip.command.OpenFrontpage' lang="tech">
                <a href="#/" translate="common.command.OpenFrontpage">Startseite</a></li>
             <li class="todonext" data-tooltip='tooltip.command.OpenTreeView' lang="tech">
                <a href="#/show/MasterplanMasternode1" class="" translate="todonext.command.OpenTreeView">Open Treeview</a></li>
             <li class="todonext" data-tooltip='tooltip.command.OpenHelp' lang="tech">
                <a href="" ng-click="yaioUtils.showHelpSite(yaioUtils.getConfig().restExportsBaseUrl + 'documentation/SysHelp1')" target="help" class="" translate="todonext.command.OpenHelp">Hilfe</a></li>
<!-- 
             <li class="todonext" data-tooltip='tooltip.command.OpenInfo' lang="tech">
                <a href="" ng-click="yaioUtils.showHelpSite(yaioUtils.getConfig().restExportsBaseUrl + 'documentation/SysInfo1')" target="help" class="" translate="todonext.command.OpenInfo">Infos</a></li>
 -->
          </ul>
      </div>
  </div>
</div>
<div id="front-content-right">
    <div id="sidebartoc" class="sidebartoc documentation-sidebartoc"> </div>
</div>

<script type="text/javascript">
    // format markdown-extension
    var flgDoMermaid = yaioAppBase.get('YaioFormatter').formatDescBlock("#front-content-intro");
    if (flgDoMermaid) {
        yaioAppBase.get('YaioFormatter').formatMermaidGlobal();
    }
    
    // activate elements after 1 second
    setTimeout(function() { 
        // activate speech recognition
        yaioAppBase.get('YaioLayout').addSpeechRecognitionToElements();
        yaioAppBase.get('YaioLayout').addDatePickerToElements();

        // add resize event
        $( window ).resize(function() {
            yaioAppBase.get('YaioLayout').setupAppSize();
        });    

    }, 1000);
    
    // add TOC after 3 second
    setTimeout(function() { 
        // add TOC
        yaioAppBase.get('YaioFormatter').addTOCForBlock("#sidebartoc", "#front-content-intro", { toc: { topLink: "Seitenkopf"}});
        yaioAppBase.get('YaioLayout').setupAppSize();
    }, 3000);
    

</script>
