<div class='box box-portdesc add2toc-h1 box-portdesc-explorer' toclabel='Explorer' id='box_explorer'>
    <div class='boxline boxline-ue2 h2-portdesc h2-portdesc-explorer' id='ue_explorer'>YAIO - D'Artagnan - Explorer
      <div id="containerInfoCommands">
          <div ng-include="yaioUtils.getConfig().resBaseUrl + 'js/frontpage/menu-main.html'"></div>
      </div>
    </div>

    <div class='togglecontainer togglecontainer-exporer' id='details_explorer'>
    </div>
</div>

<div id="front-content-left">
  <div ng-include="frontPageUrl" id="front-content-intro"></div>
  
  <div class='box box-portdesc add2toc-h1 box-portdesc-todonext' toclabel='ToDoNext' id='box_todonext'>
      <div class='boxline boxline-ue2 h2-portdesc h2-portdesc-todonext' id='ue_todonext' translate="todonext.ue">ToDoNext</div>
  
      <div class='togglecontainer togglecontainer-todonext' id='details_todonext'>
         <ul class="todonext">
           <li class="command" data-tooltip='tooltip.command.OpenSourceSelect' lang="tech">
              <a href="#/sourceselect"  translate="todonext.command.OpenSourceSelect">Datenquelle</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenTreeView' lang="tech">
              <a href="#/show/MasterplanMasternode1"  translate="todonext.command.OpenTreeView">Open Treeview</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenSearchView' lang="tech"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('search', null, false)">
              <a href="#/search/"  translate="todonext.command.OpenSearchView">Open Searchview</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenHelp' lang="tech"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('syshelp', null, false)">
              <a href="" ng-click="yaioUtils.showHelpSite(yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('syshelp', null, false))"
                 target="help" translate="todonext.command.OpenHelp">Hilfe</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenInfo' lang="tech"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('syshelp', null, false)">
              <a href="" ng-click="yaioUtils.showHelpSite(yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('sysinfo', null, false))"
                 target="help" translate="todonext.command.OpenInfo">Info</a></li>
           <li class="command" data-tooltip='tooltip.command.Logout' lang="tech" id="logout"
               ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('logout', null, false)">
              <a href="{{yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('logout', null, false)}}"  translate="todonext.command.Logout">Logout</a></li>
           <li class="command" data-tooltip='tooltip.command.OpenFrontpage' lang="tech">
              <a href="#/frontpage"  translate="todonext.command.OpenFrontpage">Startseite</a></li>
          </ul>
      </div>
  </div>
</div>
<div id="front-content-right">
    <div id="sidebartoc" class="sidebartoc documentation-sidebartoc"> </div>
</div>

<script type="text/javascript">
    // format markdown-extension
    var flgDoMermaid = yaioAppBase.get('YaioFormatter').formatDescBlock("#front-content-intro");
    if (flgDoMermaid) {
        yaioAppBase.get('YaioFormatter').formatMermaidGlobal();
    }
    
    // activate elements after 1 second
    setTimeout(function() { 
        // activate speech recognition
        yaioAppBase.get('YaioLayout').addSpeechRecognitionToElements();
        yaioAppBase.get('YaioLayout').addDatePickerToElements();

        // add resize event
        $( window ).resize(function() {
            yaioAppBase.get('YaioLayout').setupAppSize();
        });    

    }, 1000);
    
    // add TOC after 3 second
    setTimeout(function() { 
        // add TOC
        yaioAppBase.get('YaioFormatter').addTOCForBlock("#sidebartoc", "#front-content-intro", { toc: { topLink: "Seitenkopf"}});
        yaioAppBase.get('YaioLayout').setupAppSize();
    }, 3000);
    

</script>
