<div class='box box-portdesc'>
    <div class='boxline boxline-ue2'>{{searchOptions.total}} <span lang='tech' translate="{{searchOptions.label}}">{{searchOptions.label}}</span>
        <a ng-if="searchOptions.total > 0" href="#{{createSearchUri();}}" data-tooltip='tooltip.command.DashboardMoreResults' lang='tech' class="" translate="common.command.DashboardMoreResults">Alle anzeigen</a>
    </div>
    <div class='togglecontainer togglecontainer-dashboard' ng-init="doFulltextSearch()">

        <!-- 
        *****************************
        *****************************
        * Current SearchResult
        *****************************
        *****************************
        -->
        <table id="masterTableLastChanged" class="fancytree-ext-table">
            <!-- define columngroups -->
            <colgroup>
            <col class="container_field fieldtype_name field_name"></col>
            <col class="block_nodedata"></col>
            <col class="block_nodegantt"></col>
            <col class="container_field fieldtype_actions"></col>
            </colgroup>
            <tbody>
              <tr ng-repeat="node in nodes | filter:search" id="tr{{searchOptions.praefix}}{{node.sysUID}}" data-value="{{node.sysUID}}" class="">
                <td>
                    <span class="fancytree-expander" style="background: none"><a href='#/show/{{searchOptions.baseSysUID}}/activate/{{node.sysUID}}' class="yaio-icon-open"></a></span>
                    <span class="fancytree-checkbox"></span>
                    <span class="fancytree-title fancytree-title-list"></span>
                </td>
                <td ng-init="renderNodeLine(node)"/>
                <td />
                <td class="container_field fieldtype_actions" >
                  <div class='fieldtype_sysToggler toggler_show'>
                      <a ng-click="yaioUtils.toggleSysContainerForNode(node);"
                         ng-if="yaioUtils.getService('YaioAccessManager').getAvailiableNodeAction('showsysdata', node.sysUID, true)"
                         id='toggler_sys_{{node.sysUID }}'
                         class='' data-tooltip='tooltip.command.ToggleSys' lang='tech'></a>
                   </div>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>